h1
  text-align: center

.text
  border: 1px solid rgba(0, 0, 0, 0.3)
  box-sizing: border-box
  width: 100%
  font-size: 16px
  padding: 10px
  margin: auto

.preview_text, .output
  display: inline-block